body
{
	background-color:#CCCCC9;
	margin:1%;
	font-family:Arial;
}

img {
  vertical-align:middle;
}

ul { 

	-webkit-padding-start: 0%;
}

header img
{
	max-height:40px;
	margin-right:2%;
}

#divMenu  ul
{
	list-style-type: none; 
}

#divMenu li:hover
{
	background: linear-gradient(#534FB5, #342EB6);
	cursor:pointer;
	width:80%;
}

.menuSelected
{
	background: linear-gradient(#534FB5, #342EB6);
	cursor:pointer;
	width:80%;
}

.content
{
	position:absolute;
	top:0px;
	left:0px;
	transform: scaleY(0);
    transform-origin: 50% 0;
    transition:transform 0.5s ease;

	background-color:white;
	width:100%;
	border-radius:0px 0px 10px 10px;
}

.contentSelected
{
	transform: scaleY(1);
}

.headerImage
{
	float:left;
	margin-left:2%;
}

.headerText
{
	float:left;
}

.headerEmployeur
{
	float:right;
}

.descExp
{
	margin: 0 0 0 2%;
	padding: 2% 0 0 0;
	clear:both;
}

#divContent
{
	border-radius:0px 0px 10px 10px;
	position:relative;
}

#divContent section header
{
	background-color:white;
	border-radius:0px;
}

#divContent section header h1
{
	background-color:white;
}

#divContent li
{
	margin: 0 0 0 4%;
}

#placeHolderContent
{
	float:right;
	width:80%;
	height:auto;
	background-color:white;
	border-radius:10px;
}

#placeHolderContent header
{
	background-color:grey;
	border-radius:10px 10px 0px 0px;
}

#placeHolderContent header h1
{
	margin: 0 0 0 1%;
}

.content section header
{
	margin-bottom:2%;
}

#placeHolderContent footer
{
	background-color:grey;
	border-radius:0px 0px 10px 10px;
	height:15px;
}

#topDiv
{
	float:left;
	width:100%;
	background-color:#CCCCC9;
}

#bottomDiv
{
	float:left;
	width:100%;
	height:auto;
}

#divPhoto
{
	background-color:#CCCCC9;
}

#photo
{
	width:80%;
	height:auto;
	margin:3%;
	border-radius:5%;
}

#divMenu
{
	float:left;
	width:20%;
	height:auto;
	background-color:#CCCCC9;
}

.content section
{
	margin-top:1%;
}

.divSep
{
	height:4px;
	background-color:#CCCCC9;
	width:96%;
	margin-left:2%;
	margin-right:2%;
}

#sectionPres
{
	max-width:60%;
	margin-left:5%;
}

@media (min-width: 601px) {
	li 
	{
		margin:3%;
	}

    #divPhoto
	{
		float:left;
		width:20%;
	}
	
	#profil
	{
		float:right;
		width:80%;
		background-color:#CCCCC9;
	}
	

}

@media (max-width: 600px) {
	li 
	{
		margin:3%;
		float:left;
	}

	#divPhoto
	{
		width:100%;
		height:auto;
	}
		
	#profil
	{
		width:100%;
		height:auto;
		background-color:#CCCCC9;
	}
}