body
{
	background-color:#A3A89F;
	margin:1%;
}

img {
  vertical-align:middle;
}

ul { 
	list-style-type: none; 
	-webkit-padding-start: 0%;
}

#divMenu li:hover
{
	background: linear-gradient(#534FB5, #342EB6);
	cursor:pointer;
	width:80%;
}

.menuSelected
{
	background: linear-gradient(#534FB5, #342EB6);
	cursor:pointer;
	width:80%;
}

#home
{
	display:block;
}

.content
{
	display:none;
	background-color:white;
	width:100%;
	height:auto;
}



#topDiv
{
	float:left;
	width:100%;
	background-color:#A3A89F;
}

#bottomDiv
{
	float:left;
	width:100%;
	height:auto;
}

#divPhoto
{
	background-color:#A3A89F;
}

#photo
{
	width:80%;
	height:auto;
	margin:3%;
}

#divMenu
{
	float:left;
	width:20%;
	height:auto;
	background-color:#A3A89F;
}

#divContent
{
	float:right;
	width:80%;
	height:auto;
	background-color:white;
}

@media (min-width: 601px) {
	li 
	{
		margin:3%;
	}

    #divPhoto
	{
		float:left;
		width:20%;
	}
	
	#profil
	{
		float:right;
		width:80%;
		background-color:#A3A89F;
	}
	

}

@media (max-width: 600px) {
	li 
	{
		margin:3%;
		float:left;
	}

	#divPhoto
	{
		width:100%;
		height:auto;
	}
		
	#profil
	{
		width:100%;
		height:auto;
		background-color:#A3A89F;
	}
}